@model IEnumerable<Category>

@{
    
}

<h3><strong>Bieżące kategorie</strong></h3>
<div>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <a>
                    @article.Name
                </a>
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@article.ID">
                    Edytuj
                </a>
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@article.ID">
                    Usuń
                </a>
            </li>
        }
    </ul>
</div>

