<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>        
        <a asp-controller="Panel" asp-action="Index">Admin Panel</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Logout">Wyloguj się</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Zaloguj się</a>
        }
    </div>    
    <div>        
        @RenderBody()
    </div>  
    
</body>
</html>
