@model Article

@{ 

}

<h2>@Model.Title</h2>

<p>@Model.Body</p>





@*@<div class="container">
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    @post.Title
                </li>
                <li>
                    @post.Body
                </li>
            }
        </ul>
    </div>*@
