

<div>
    <span class="title">Blog Filmowy</span>
</div>

@Html.Partial("_Categories")




@*@<div class="container">
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    @post.Title
                </li>
                <li>
                    @post.Body
                </li>
            }
        </ul>
    </div>*@
