@model IEnumerable<Article>

<div>
    <span class="title">Blog Filmowy</span>
</div>


<img src="~/content/static/myke-simon-atsUqIm3wxo-unsplash.jpg" width="300" />

<div>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Article" asp-route-id="@article.ID"></a>
                @article.Title
            </li>
            <li>
                @if (!String.IsNullOrEmpty(article.Image))
                {
                    var imagePath = $"/Image/{article.Image}";
                    <img src="@imagePath" width="500" />
                }
            </li>           
            <li>
                @article.Body
            </li>
        }
    </ul>
</div>