/** Global **/
a {
    color: black;    
}

a:hover {
    color: blue;
    text-decoration: none;
}

/** Navbar **/
.navbar .navbar-nav .nav-item {
    padding: 0 1.5rem;
    color: white;
}

/** Top **/
.top {
    padding: 165px 0 175px;
    background-image: url("../content/static/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    margin-bottom: 1.25rem;
    font-size: 2.75rem;
}

.top-text {
    font-size: 1.8rem;
}

/** Content **/
.content {
    padding: 50px 0 60px;
}

.title {
    padding: 2.2rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    width: 65%;  
}

/** Searching **/
.search {
    padding: 2rem 0 4rem 0;    
}

.search-header {
    padding-bottom: 1rem;
    font-weight: 700;
}

.search-input {
    padding: .45rem;
    border-radius: 1px 1px;
}

.search-button {
    margin-top: -4px;
}

/** Category **/
.category-header {
    padding-bottom: .7rem;
    font-weight: 700;
}

.category-item {
    font-size: 1.2rem;
}

.last-added-header {
    padding: 4rem 0 .7rem 0;
    font-weight: 700;
}

.last-added-article {
    font-size: 1rem;
}

/** Paginacja **/
.pagination {   
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination li {
    padding: 0 .6rem;
}

.pagination-content {
    list-style-type: none;  
    
}

.pagination-item {
    font-size: 1.5rem;
    background-color: yellow;
    
}

.pagination-item pagination-one-item:hover:not(.active) {
    background-color: #4CAF50;
    
}

.active {
    background-color: #4CAF50;
    padding: 0 2rem;
}

/** Footer **/
.page-footer {
    margin-top: 4rem;
}

/** One Article **/
.title-article {
    padding: 2.2rem 0 0 0;
    font-size: 2rem;
    font-weight: 700;
}

.img-article {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    width: 96%;
    padding-left: .8rem;
}

.article-body {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
    justify-content: flex-start;
    padding-top: 2rem;  
}

.text p {
    padding-left: 2rem;
    padding-right: 1rem;
    text-align: justify;
    line-height: unset;
    font-size: 1.2rem;
}

/** Comment **/
.comment {
    padding-left: 2rem;
    padding-top: 5rem;
}

.message-form {
    padding-top: 5rem;
}

.comment-blocked {
    font-size: 1.2rem;
    font-weight: 700;
}

.comment-header {
    font-weight: 700;
    padding-bottom: .7rem;
}

.comment-log {
    padding-top: 5rem;
}

.comment-message {    
    font-size: 1rem;
    padding-bottom: 1rem;
}

.c-button {
    padding-top: .5rem;
}

.comment-button {
    padding: .5rem 4rem;
    font-weight: 700;
}

.comment-section {
    padding-bottom: 3rem;
    padding-top: 5rem;
}

/** Contact **/
.contact-title {
    font-weight: 700;
    padding-bottom: 2rem;
}

address {
    font-size: 1.2rem;
}

/** About **/
.about-title {
    font-weight: 700;
    padding-bottom: 2rem;
}

/* Admin Panel */
.admin-panel {
    padding-top: 2rem;
}

.current-articles-header {
    font-size: 1.5rem;
}

.edit-button {
    padding-left: 3rem;
}

.edit-button-look {
    padding: .5rem 2rem;
}

.delete-button-look {
    padding: .5rem 2rem;
}

.panel-article-title {
    font-size: 1.1rem;
}

.panel-add-category {
    margin-left: .5rem;
    margin-right: .5rem;
}

/* Admin Panel Category List */
.category-list-header {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
}

.category-return-button {
    margin-bottom: 1.5rem;    
}

.button-return-look {
    padding: .8rem 2rem;
}

.category-titles-header {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

.category-item {
    font-size: 1.1rem;
}

/* Admin Panel Delete Category */
.delete-category {
    margin: 2rem 0;
}

.delete-category-question {
    font-size: 1.5rem;
}

.delete-category-form {
    margin: 0 auto;
    width: 50%;
}

.delete-button {
    margin-top: 1rem;
    padding: .5rem 3rem;
}

/* Admin Panel Add Category */
.add-category {
    margin: 2rem 0;
}

.add-category-form {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 50%;
}

/* Admin Panel Delete Article */
.delete-article {
    margin: 2rem 0;
}

.delete-article-question {
    font-size: 1.5rem;
}

.delete-article-form {
    margin: 0 auto;
    width: 50%;
}

/* Admin Panel Add Article */
.add-article {
    margin: 2rem 0;
}

.add-article-form {
    margin: 0 auto;
    padding-top: 1.5rem;
}

/* Admin Panel Add Article */
.edit-article {
    margin: 2rem 0;
}

.edit-article-form {
    margin: 0 auto;
    padding-top: 1.5rem;
}

.choose-category {
    font-weight: 700;
    padding-right: 1rem;
}

/* Account */
.input {
    padding: .3rem 0;
}

