/** Global **/
a {
    color: black;    
}

a:hover {
    color: blue;
    text-decoration: none;
}

/** Navbar **/
.navbar .navbar-nav .nav-item {
    padding: 0 1.5rem;
    color: white;
}

/** Top **/
.top {
    padding: 165px 0 175px;
    background-image: url("../content/static/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    margin-bottom: 1.25rem;
    font-size: 2.75rem;
}

.top-text {
    font-size: 1.8rem;
}

/** Content **/
.content {
    padding: 50px 0 60px;
}

.title {
    padding: 2.2rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    width: 65%;  
}

/** Searching **/
.search {
    padding: 2rem 0 4rem 0;    
}

.search-header {
    padding-bottom: 1rem;
    font-weight: 700;
}

.search-input {
    padding: .45rem;
    border-radius: 1px 1px;
}

.search-button {
    margin-top: -4px;
}

/** Category **/
.category-header {
    padding-bottom: .7rem;
    font-weight: 700;
}

.category-item {
    font-size: 1.2rem;
}

.last-added-header {
    padding: 4rem 0 .7rem 0;
    font-weight: 700;
}

.last-added-article {
    font-size: 1rem;
}

/** Paginacja **/
.pagination {   
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination-content {
    list-style-type: none;    
}

.pagination-item {
    font-size: 1.5rem;
    letter-spacing: 1rem; 
    background-color: yellow;
}

.pagination-item pagination-one-item:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

/** Footer **/
.page-footer {
    margin-top: 4rem;
}

/** One Article **/
.title-article {
    padding: 2.2rem 0 0 0;
    font-size: 2rem;
    font-weight: 700;
}

.img-article {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    width: 80%;
}

.article-body {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
    justify-content: flex-start;
    padding-top: 2rem;    
}

/** Comment **/
.message-form {
    padding-top: 3rem;
}

.comment-blocked {
    font-size: 1.2rem;
    font-weight: 700;
}

.comment-header {
    font-weight: 700;
}

.comment-message {    
    font-size: 1rem;
    padding-bottom: 1rem;
}

.comment-button {
    padding: .3rem 2rem;
    font-weight: 700;
}

.comment-section {
    padding-top: 3rem;
}

/** Contact **/
.contact-title {
    font-weight: 700;
    padding-bottom: 2rem;
}

address {
    font-size: 1.3rem;
}

/** About **/
.about {
    font-weight: 700;
    padding-bottom: 3rem;
}

.about-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
}


